// COLORS
$primary-color: #CC95C0;
$secondary-color: #DBD4B4;

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #1c1b20; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
